body {
    font-family: Arial, sans-serif;

    background-image: url('bg2.jpg'); /* Add your image path here */
    background-size: cover; /* This will make the image cover the entire background */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    background-position: center; /* This centers the image */
    background-attachment: fixed; /* This keeps the background image fixed in place */
    color: black;
    margin: 0;
    padding: 0;
    height: 100vh; /* This ensures the body takes the full height of the viewport */
    overflow: hidden; /* This prevents scrolling */
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.theme-toggle {
    cursor: pointer;
}

.moon-icon::before {
    content: '🌙'; /* Example icon, use a proper icon font or image for actual implementation */
}

.github-link {
    background-color: black;
    color: rgb(76, 187, 161);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.welcome-section {
    max-width: 50%;
}

.welcome-section h1 {
    color: #693a05; /* Travbot orange color */
}

.welcome-section p {
    margin: 20px 0;
}

.get-started-btn {
    background-color: #d3750a; /* Travbot orange color */
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.illustration img {
    width: 100%;
    max-width: 500px;
}
.logo {
    display: flex;
    align-items: center;
    height: 1px;
}


.logo-text {
    font-size: 30px; /* Make the text size equal to the image height */
    margin-left: 6px; /* Adjust spacing as needed */
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


